* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
 --white: #fafafb;
 --purple:#676eea;
 --blue-light:#0499d4;
 --blue-dark:#2a73c2;
 --green: #2c7b90;

}

body {
  background: linear-gradient(to bottom,var(--purple),var(--blue-light));
  height: 100vh;   
  font-family: 'Prompt', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
